@import "layout.scss";

*{
    box-sizing: border-box;
}

a{
    color: inherit;
    text-decoration: none;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,h2{
    margin: 0;
}

body{
    padding: 16px;
}

// header START

.ba-banner{
    height: 100vh;
}

.ba-hero{
    width: 100%;
    height: calc(100vh - 83px);
    background: {
        image: url(../images/hero.jpg);
        color: lightblue;
        size: cover;
    };
}

.ba-hero__title{
    font: {
        family: 'Josefin Sans', sans-serif;
        size: 3rem;
        weight: 700;  
    };
    line-height: 26px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding-top: 265px;
}

.ba-hero__text{
    font: {
        family: 'Josefin Sans', sans-serif;
        size: 1.375rem;
        weight: 400;
    };
    line-height: 26px;
    color: #fff;
    letter-spacing: 4px;
    text-align: center;
	opacity: .8;
}

.ba-header{
    background-color: #5474fd;
    height: 83px;
    display: flex;
    align-items: center;

    &-wrapper{
        display: flex;
		justify-content: space-between;
		align-items: center;
    }
}

.ba-logo{
    font: {
        family: 'Josefin Sans', sans-serif;
        size: 1.5rem;
        weight: 700;  
    };
    line-height: 26px;
    color: #fff;
    text-transform: uppercase;
}

.ba-menu{
    display: flex;
    align-items: center;
    list-style: none;

    &__item + &__item{
        margin-left: 40px;
    }

    &__link{
        font-family: 'Aleo', serif;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 0.875rem;
        transition: opacity .4s;
        &:hover{
            opacity: 0.75;
        }
    }
}

.ba-scroll{
	text-align: center;
	opacity: .6;
	margin-top: 115px;

	&__title{
		font: {
			family: 'Josefin Sans', sans-serif;
			size: 0.875rem;
			weight: 400;  
		};
		color: #fff;
		line-height: 26px;
		letter-spacing: .2em;
		margin-bottom: 0;
	}
}

.ba-search {
	height: 65px;
	max-width: 650px;
	width: 60%;
	display: flex;
	margin: 0 auto;
}

.ba-input{
	flex-grow: 1;
	height: 100%;
	border: 2px solid white;
	font-family: 'Josefin Sans',sans-serif;
    font-weight: 400;
	text-align: center;
}

.ba-button{
	height: 100%;
	width: 20%;
	border: 2px solid #fff;
	background-color: #5474fd;
	transition: .5s;
	color: #fff;
	font-family: 'Aleo', sans-serif;
    font-weight: 400;
    font-size: .875rem;
	text-transform: uppercase;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

// header END

// ba-gallery START

.ba-gallery{
    max-width: 1768px;
    width: 100%;
    height: 685px;
    background: {
        image: url(../images/gallery-hero.png);
        color: brown;
        size: cover;
    };
}

.ba-gallery-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.ba-gallery__title{
    font: {
        family: 'Aleo', sans-serif;
        size: 2.25rem;
        weight: 400;  
    };
    line-height: 26px;
    color: #fff;
    padding-top: 200px;
}

.ba-gallery__text{
    font: {
        family: 'Josefin Sans', sans-serif;
        size: 1rem;
        weight: 400;  
    };
    line-height: 26px;
    color: #e8e8e8;
    margin-top: 55px;
}

.ba-gallery__infotext{
    font: {
        family: 'Josefin Sans', sans-serif;
        size: 1rem;
        weight: 400;  
    };
    line-height: 26px;
    color: #e8e8e8;
}

.ba-btn{
    background: {
        color: #5474fd;
        image: url(../images/btn-bg.png);
        size: cover;
    };
    color: #fff;
    width: 225px;
    height: 60px;
    margin-top: 40px;
    border: none;
    text-transform: uppercase;
}

.ba-gallery-img{
    padding-top: 120px;
}

.rt{
    margin-left: 120px;
}

// ba-gallery END

// ba-places START

.ba-places{
    background: {
		color: #333;
		image: url(../images/shape.png);
		size: 96%;
		repeat: no-repeat;
    };
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 340px;
}

.ba-places__title{
    font: {
        family: 'Aleo', sans-serif;
        size: 2.25rem;
        weight: 400;  
    };
    line-height: 26px;
    color: #e8e8e8;
}

.ba-col-4{
	padding-left: 80px;
}

.ba-places__img{
 margin-left: 4.3rem;
 margin-bottom: 2rem;
}

// ba-places END

// ba-card-1 START

.ba-card-1{
    padding-top: 230px;
    padding-bottom: 100px;
    max-width: 1768px;
    width: 100%;
    background: {
        image: url(../images/card-1-bg.png);
        color: brown;
        size: cover;
    };
}

.ba-card-1-info{
    width: 545px;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 30px;
}

.ba-card-1__title{
    font: {
        family: 'Josefin Sans', sans-serif;
        size: 1.25rem;
        weight: 400;  
    };
    line-height: 26px;
    color: #e8e8e8;
    margin-bottom: 1.5em;
}

.ba-card-1__infotext{
    font: {
        family: 'Josefin Sans', sans-serif;
        size: 1.25rem;
        weight: 400;  
    };
    line-height: 26px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 1.5em;
}

.ba-card-1__text{
    font: {
        family: 'Josefin Sans', sans-serif;
        size: 1rem;
        weight: 400;  
    };
    line-height: 26px;
    color: #fff;
    margin: 0;
}

// ba-card-1 END

// ba-card-2 START

.ba-card-2-wrapper{
    display: flex;
    flex-direction: row-reverse;
}

.ba-card-2{
    padding-top: 230px;
    padding-bottom: 100px;
    max-width: 1768px;
    width: 100%;
    background: {
        image: url(../images/card-2-bg.png);
        color: brown;
        size: cover;
    };
}

.ba-card-2-info{
    width: 545px;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 30px;
}

.ba-card-2__title{
    font: {
        family: 'Josefin Sans', sans-serif;
        size: 1.25rem;
        weight: 400;  
    };
    line-height: 26px;
    color: #e8e8e8;
    margin-bottom: 1.5em;
}

.ba-card-2__infotext{
    font: {
        family: 'Josefin Sans', sans-serif;
        size: 1.25rem;
        weight: 400;  
    };
    line-height: 26px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 1.5em;
}

.ba-card-2__text{
    font: {
        family: 'Josefin Sans', sans-serif;
        size: 1rem;
        weight: 400;  
    };
    line-height: 26px;
    color: #fff;
    margin: 0;
}

// ba-card-2 END

// ba-testimonial START

.ba-testimonial{
    height: 730px;
    background: {
        image: url(../images/testimonial-bg.png);
        color: brown;
    };
    color: #fff;
}

.ba-testimonial__title{
    padding-top: 120px;
    font: {
        family: 'Aleo', sans-serif;
        size: 2.25rem;
        weight: 400;  
    };
    line-height: 26px;
    color: #fff;
    text-align: center;
}

.ba-testimonial-wrapper{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.ba-testimonial-img img{
    display: block;
    height: 288px;
}

.ba-testimonial-info{
    background-color: #333;
    padding: 3em;
}

.ba-testimonial-info__title{
    font: {
        family: 'Josefin Sans', sans-serif;
        size: 1.25rem;
        weight: 400;  
    };
    line-height: 26px;
    color: #fefefe;
    text-transform: uppercase;
}

.ba-testimonial-info__text{
    font: {
        family: 'Josefin Sans', sans-serif;
        size: 1rem;
        weight: 400;  
    };
    line-height: 26px;
    color: #e8e8e8;
}

// ba-testimonial END

.ba-footer{
    background-color: #232323;
    padding-top: 115px;
    padding-bottom: 55px;
    text-align: center;
}

.ba-footer__title{
    font: {
        family: 'Josefin Sans', sans-serif;
        size: 1.5rem;
        weight: 700;  
    };
    line-height: 26px;
    color: #fff;
    text-transform: uppercase;
}

.ba-footer__text{
    font: {
        family: 'Josefin Sans', sans-serif;
        size: 1rem;
        weight: 400;
    };
    line-height: 26px;
    color: #fff;
}

.ba-footer__icons{
	width: 150px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}