@import "layout.scss";

.ba-menu{
	display: flex;
	align-items: center;
	list-style: none;
}

.ba-menu__link{
	color: inherit;
	text-decoration: none;
}

.btn{
	background: $primaryColor;
	min-width: 100px;
	padding: 0 1em;

	&:hover{
		@include buttonHover;
	}
}